In [4]:
# Importing data from data_reading.py.
from data_reading import *

In [8]:

lep_author_data['AUTHOR'] = lep_author_data['AuthorLastname'] + ' ' + lep_author_data['AuthorInitials']
#ipd.display(lep_author_data)

In [7]:
lep_first = lep_author_data[lep_author_data['AuthorN'] == 1]
lep_first_count = lep_first['AUTHOR'].value_counts().reset_index()
lep_first_count.columns = ['Author', 'Count']

lep_other = lep_author_data[lep_author_data['AuthorN'] != 1]
lep_other_count = lep_other['AUTHOR'].value_counts().reset_index()
lep_other_count.columns = ['Author', 'Count']

merged_lep = pd.merge(lep_first_count, lep_other_count, on='Author', how='outer', suffixes=(' First', ' Other')).fillna(0)
merged_lep['Count Sum'] = merged_lep['Count First'] + merged_lep['Count Other']

lep_descending = merged_lep.sort_values(by=['Count Sum'], 
                                        ascending = False, 
                                        ignore_index = True)

lep_top50 = lep_descending.iloc[:50,:]

ipd.display(lep_top50)

                  Author  Count First  Count Other  Count Sum
0                  Ko AI          1.0         85.0       86.0
1            Picardeau M          6.0         72.0       78.0
2            Lilenbaum W          6.0         71.0       77.0
3         Dellagostin OA          1.0         59.0       60.0
4                Reis MG          0.0         57.0       57.0
5        Vasconcellos SA          0.0         56.0       56.0
6          Hartskeerl RA          2.0         54.0       56.0
7              Koizumi N         14.0         42.0       56.0
8                Costa F          5.0         36.0       41.0
9              Goarant C          4.0         37.0       41.0
10                 Yan J          0.0         39.0       39.0
11             Vinetz JM          1.0         38.0       39.0
12             Romero EC          2.0         36.0       38.0
13              Haake DA          6.0         32.0       38.0
14         Vijayachari P          9.0         28.0       37.0
15              Nally JE          8.0         29.0       37.0
16              Bourhy P          6.0         30.0       36.0
17  Natarajaseenivasan K          8.0         28.0       36.0
18             Wunder EA          2.0         30.0       32.0
19             Smythe LD          3.0         29.0       32.0
20              Chang YF          1.0         30.0       31.0
21               Adler B          5.0         25.0       30.0
22              Craig SB          5.0         24.0       29.0
23          Heinemann MB          1.0         27.0       28.0
24             Martins G          7.0         20.0       27.0
25              Hamond C          9.0         17.0       26.0
26         Nascimento AL          1.0         25.0       26.0
27            Hartwig DD          4.0         21.0       25.0
28             Vieira ML          9.0         16.0       25.0
29            Benschop J          4.0         20.0       24.0
30          de Morais ZM          0.0         24.0       24.0
31             Levett PN          7.0         17.0       24.0
32               Kodjo A          1.0         22.0       23.0
33               Yang CW          5.0         18.0       23.0
34           Galloway RL          2.0         21.0       23.0
35             Seixas FK          2.0         21.0       23.0
36            Sugunan AP          2.0         21.0       23.0
37              Goris MG          4.0         18.0       22.0
38               Heuer C          0.0         21.0       21.0
39            McBride AJ          2.0         19.0       21.0
40               Zhang W          5.0         16.0       21.0
41           Medeiros MA          0.0         21.0       21.0
42                 Cao Y          2.0         19.0       21.0
43           Rajapakse S          7.0         14.0       21.0
44             Sehgal SC          4.0         16.0       20.0
45           Chierakul W          2.0         18.0       20.0
46              Dohnt MF          0.0         19.0       19.0
47       Nascimento ALTO          0.0         19.0       19.0
48          McDonough SP          0.0         19.0       19.0
49          Athanazio DA          2.0         17.0       19.0