In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [37]:
# importing data

article_data = pd.read_csv("articles.leptospirosis.csv")
author_data = pd.read_csv("authors.leptospirosis.csv")
paper_counts = pd.read_csv("paper_counts.csv")

In [5]:
# display first 5 lines of article data

article_data.head()

,PMID,Title,Abstract,ISSN,Journal,Location,Year,FirstAuthorForename,FirstAuthorLastname,FirstAuthorInitials,FirstAuthorAffiliation
0,10548299,Risk factors for death and changing patterns i...,The risk factors for death and changes in clin...,0002-9637,The American journal of tropical medicine and ...,(61) 630-4,1999,E,Daher,E,"Departamento de Medicina Clínica, Faculdade de..."
1,10569777,Leptospiral outer membrane proteins OmpL1 and ...,New vaccine strategies are needed for preventi...,0019-9567,Infection and immunity,(67) 6572-82,1999,D A,Haake,DA,"Division of Infectious Diseases, Veterans Affa..."
2,10585813,Acute lung injury in leptospirosis: clinical a...,Forty-two consecutive patients with leptospiro...,1058-4838,Clinical infectious diseases : an official pub...,(29) 1561-3,1999,P C,Marotto,PC,"Intensive Care Unit, Instituto de Infectologia..."
3,10586903,Assessment of the efficacy of an IgM-elisa and...,In a prospective study in Barbados between 197...,0002-9637,The American journal of tropical medicine and ...,(61) 731-4,1999,P,Cumberland,P,"Infectious Disease Epidemiology Unit, London S..."
4,10596270,[An old disease with a new face: canine leptos...,The clinical features of the disease are prese...,0036-7281,Schweizer Archiv fur Tierheilkunde,(141) 499-507,1999,A,Steger-Lieb,A,"Klinik für kleine Haustiere, Universität Bern."

In [6]:
# display first 5 lines of author data
 
author_data.head()

,PMID,AuthorN,AuthorForename,AuthorLastname,AuthorInitials,AuthorAffiliation
0,10548299,1,E,Daher,E,"Departamento de Medicina Clínica, Faculdade de..."
1,10548299,2,D M,Zanetta,DM,NaN
2,10548299,3,M B,Cavalcante,MB,NaN
3,10548299,4,R C,Abdulkader,RC,NaN
4,10569777,1,D A,Haake,DA,"Division of Infectious Diseases, Veterans Affa..."

In [24]:
article_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389 entries, 0 to 3388
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PMID                    3389 non-null   int64
 1   Title                   3389 non-null   object
 2   Abstract                3389 non-null   object
 3   ISSN                    3389 non-null   object
 4   Journal                 3389 non-null   object
 5   Location                3377 non-null   object
 6   Year                    3389 non-null   int64
 7   FirstAuthorForename     3385 non-null   object
 8   FirstAuthorLastname     3387 non-null   object
 9   FirstAuthorInitials     3379 non-null   object
 10  FirstAuthorAffiliation  3268 non-null   object
dtypes: int64(2), object(9)
memory usage: 291.4+ KB

In [25]:
author_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21331 entries, 0 to 21330
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PMID               21331 non-null  int64
 1   AuthorN            21331 non-null  int64
 2   AuthorForename     21321 non-null  object
 3   AuthorLastname     21331 non-null  object
 4   AuthorInitials     21297 non-null  object
 5   AuthorAffiliation  13325 non-null  object
dtypes: int64(2), object(4)
memory usage: 1000.0+ KB

In [17]:
# count of first authors

print(f"article_data_shape: {article_data.shape}")

print(f"Unique FirstAuthor Lastnames: {article_data['FirstAuthorLastname'].unique().shape}")

article_data_shape: (3389, 11)
Unique FirstAuthor Lastnames: (2243,)

In [23]:
# count of FirstAuthorAffiliation

print(f"FirstAuthorAffiliation_shape: {article_data['FirstAuthorAffiliation'].shape}")
print(f"FirstAuthorAffiliation_unique_shape: {article_data['FirstAuthorAffiliation'].unique().shape}")

FirstAuthorAffiliation_shape: (3389,)
FirstAuthorAffiliation_unique_shape: (3090,)

In [36]:
# add column with combined name
author_data['FullName']= author_data['AuthorInitials']+' '+ author_data['AuthorForename']+' '+ author_data['AuthorLastname']
author_data['FullName'].shape

(21331,)