In [1]:
from data_reading import *

In [35]:
lep_jou_aff = lep_article_data['Journal'].value_counts().reset_index()
lep_jou_aff.columns = ['Journal', 'J_Count']

lep_ja_sum = lep_jou_aff['J_Count'].sum()

lep_jou_aff['J_Share (%)'] = round((lep_jou_aff['J_Count'] / lep_ja_sum) * 100, 2)

ipd.display(lep_jou_aff)

                                               Journal  J_Count  J_Share (%)
0                     PLoS neglected tropical diseases      151         4.46
1    The American journal of tropical medicine and ...      129         3.81
2                                             PloS one      101         2.98
3                              BMC infectious diseases       54         1.59
4                                         Acta tropica       53         1.56
..                                                 ...      ...          ...
757                         Nature reviews. Nephrology        1         0.03
758               Expert review of clinical immunology        1         0.03
759       Journal of biomolecular structure & dynamics        1         0.03
760  [Nihon koshu eisei zasshi] Japanese journal of...        1         0.03
761                  Respiratory medicine case reports        1         0.03

[762 rows x 3 columns]

In [36]:
lep_author_data['A_Fullname'] = lep_author_data['AuthorLastname'] + ' ' + lep_author_data['AuthorInitials']

lep_id_jou = lep_article_data[['PMID', 'Journal']]
lep_id_auth = lep_author_data[['PMID', 'A_Fullname']]

lep_id_merge = pd.merge(lep_id_jou, lep_id_auth, on = 'PMID', how = 'outer')

lep_id_sum = lep_id_merge.groupby(['Journal', 'A_Fullname']).size().reset_index(name = 'A_Count')

lep_id_desc = lep_id_sum.sort_values(by = 'A_Count',
                                        ascending = False,
                                        ignore_index = True)

lep_auth_max = lep_id_sum.groupby('Journal')['A_Count'].idxmax()

lep_id_ath_max = lep_id_sum.loc[lep_auth_max]

lep_id_ath_max.columns = ['Journal', 'Top_A_Fullname', 'Top_A_Count']

ipd.display(lep_id_ath_max)

,Journal,Top_A_Fullname,Top_A_Count
0,3 Biotech,Haltrich D,1
10,Acta Cardiologica Sinica,Cheng YT,1
17,Acta biochimica et biophysica Sinica,Guo X,2
45,Acta clinica Belgica,Rutsaert R,1
48,"Acta crystallographica. Section D, Biological ...",Haouz A,1
...,...,...,...
18850,Zoo biology,Flacke GL,1
18936,Zoonoses and public health,Heuer C,5
19065,[Nihon koshu eisei zasshi] Japanese journal of...,Kozawa K,1
19069,eLife,Adhikarla H,1
19092,mSphere,Akino Mercy CS,1

In [40]:
lep_top_con_merge = pd.merge(lep_jou_aff, lep_id_ath_max, on = 'Journal', how = 'outer')

lep_top_con_merge['Top_A_Share (%)'] = round((lep_top_con_merge['Top_A_Count'] / lep_top_con_merge['J_Count']) * 100, 2)

ipd.display(lep_top_con_merge)

,Journal,J_Count,J_Share (%),Top_A_Fullname,Top_A_Count,Top_A_Share (%)
0,PLoS neglected tropical diseases,151,4.46,Ko AI,20,13.25
1,The American journal of tropical medicine and ...,129,3.81,Vinetz JM,14,10.85
2,PloS one,101,2.98,Chen X,5,4.95
3,BMC infectious diseases,54,1.59,Agampodi SB,5,9.26
4,Acta tropica,53,1.56,Ko AI,5,9.43
...,...,...,...,...,...,...
757,Nature reviews. Nephrology,1,0.03,Jha V,1,100.00
758,Expert review of clinical immunology,1,0.03,Chadsuthi S,1,100.00
759,Journal of biomolecular structure & dynamics,1,0.03,Bitla A,1,100.00
760,[Nihon koshu eisei zasshi] Japanese journal of...,1,0.03,Kozawa K,1,100.00
761,Respiratory medicine case reports,1,0.03,Guo HQ,1,100.00